footer
    .container
        .row
            .col-md-4
                span.copyright Riley Lundquist, 2016
            .col-md-4
                ul.list-inline.social-buttons
                    li
                        a(href='https://twitter.com/colonyfarm')
                            i.fa.fa-twitter
                    li
                        a(href='https://www.facebook.com/insectcolonyfarm')
                            i.fa.fa-facebook
            .col-md-4
                span.copyright adapted from the Start Bootstrap Agency Theme
                ul.list-inline.quicklinks
                    
