nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-heaer.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll(href='/') colony farm

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href='#page-top')
                if path === '/'
                    li
                        a.page-scroll(href='#about') About
                    li
                        a.page-scroll(href='#tedx') TEDx
                    li
                        a.page-scroll(href='#story') Story
                    li
                        a.page-scroll(href='#team') Team
                    li
                        a.page-scroll(href='#contact') Contact
