extends ./layout.pug

block content
    header
        .container
            .intro-text
                .intro-lead-in
                .intro-heading

    for post in posts
        section.post
          .container
            .row
              .col-lg-8.col-lg-offset-2
                h2.section-heading
                    a(href='/blog/' + post.title) #{post.title}
                hr.light
                p.text-faded #{post.description[0]}
                a(href='/blog/' + post.title).btn.btn-default.btn-sm read more...
