extends ./layout.pug

block content
    header
        .container
            .intro-text
                .intro-lead-in
                .intro-heading
    section#id.bg-light-gray
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading We are
            .row.text-center
                .col-md-4
                    span.fa-stack.fa-4x
                        i.fa.fa-circle.fa-stack-2x.text-primary
                        i.fa.fa-globe.fa-stack-1x.fa-inverse
                    h4.service-heading For Purpose
                    p.text-muted We put mission &amp; values before profit, focusing on environmental and social responsibility
                .col-md-4
                    span.fa-stack.fa-4x
                        i.fa.fa-circle.fa-stack-2x.text-primary
                        i.fa.fa-envira.fa-stack-1x.fa-inverse
                    h4.service-heading Farmers
                    p.text-muted We put farming first&mdash;developing new techniques to be the most efficient and most responsible we can
                .col-md-4
                    span.fa-stack.fa-4x
                        i.fa.fa-circle.fa-stack-2x.text-primary
                        i.fa.fa-thumbs-up.fa-stack-1x.fa-inverse
                    h4.service-heading Advocates
                    p.text-muted We care about entomophagy not only for our own benefit, but for the benefit of the planet
    section#tedx
